<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div role = "alert" class="alert alert-<%= name.eql?('notice') ? "success" : "danger" %>">
      <!-- <a class="close" data-dismiss="alert">&#215;</a> -->
      <%= msg %>
    </div>
  <% end %>
<% end %>
